section.conferences#conferences
  .container
    h1.title=i18n.conferences.title
    ul.card__list
      li.card__row
        .card__img.card-haskell
          a(href=i18n.conferences.list[0].link rel="nofollow noopener" target="_blank")
            include ../icons/haskell.svg
        .card__block
          .card__info!=i18n.conferences.list[0].text
          .card__socials.socials
            a(href=i18n.conferences.list[0].twitter rel="nofollow noopener" target="_blank")
              include ../icons/twitter.svg
            a(href=i18n.conferences.list[0].patreon rel="nofollow noopener" target="_blank")
              include ../icons/patreon.svg
            a(href=i18n.conferences.list[0].site rel="nofollow noopener" target="_blank").external-link=i18n.tshirts
          a(href="https://www.eventbrite.com/e/haskell-love-tickets-113273839102" rel="nofollow noopener" target="_blank").btn Get free
          ticket
      li.card__row
        .card__img.card-scala
          a(href=i18n.conferences.list[1].link rel="nofollow noopener" target="_blank")
            include ../icons/scala.svg
        .card__block
          .card__info!=i18n.conferences.list[1].text
          .card__socials.socials
            a(href=i18n.conferences.list[1].twitter rel="nofollow noopener" target="_blank")
              include ../icons/twitter.svg
            a(href=i18n.conferences.list[1].patreon rel="nofollow noopener" target="_blank")
              include ../icons/patreon.svg
            a(href=i18n.conferences.list[1].site rel="nofollow noopener" target="_blank").external-link=i18n.tshirts
